<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuYJoc_XEk6dGQv2w68l5_MMpPw0I23-g</string>
	<key>GCM_SENDER_ID</key>
	<string>414101556690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internVideoApp</string>
	<key>PROJECT_ID</key>
	<string>intern-video-app-e5836</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-video-app-e5836.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414101556690:ios:d866a7fa1e2dff12078c0b</string>
</dict>
</plist>